.destinations .section-title {
  width: 200px;
}

.destinations-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.item .button {
  text-align: center;
  margin: 24px 0 40px 0;
  width: 100%;
}

.item .img-item {
  width: 100%;
  height: 300px;
}

.item.tokyo .img-item {
  background: url(../img/img-tokyo.jpg) no-repeat;
  background-size: cover;
}

.item.osaka .img-item {
  background: url(../img/img-osaka.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations .section-title {
    width: auto;
  }

  .item .img-item {
    height: 300;
  }

  .item.tokyo .img-item {
    background: url(../img/img-tokyo-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .item.osaka .img-item {
    background: url(../img/img-osaka-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .item .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations .section-title {
    width: auto;
  }

  .item .button {
    width: 280px;
  }

  .item .img-item {
    height: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations .section-title {
    width: auto;
  }

  .destination-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .item {
    width: 588px;
  }

  .item .button {
    width: 280px;
  }
}

/* Página de Blog */

.item.hiroshima .img-item {
  background: url(../img/img-hiroshima-mobile.png) no-repeat;
  background-size: cover;
}

.item.kyoto .img-item {
  background: url(../img/img-kyoto-mobile.png) no-repeat;
  background-size: cover;
}

.section-title.destinations-blog {
  width: auto;
}

@media screen and (min-width: 768px) {
  .item.hiroshima .img-item {
    background: url(../img/img-hiroshima-tablet.png) no-repeat;
    background-size: cover;
  }

  .item.kyoto .img-item {
    background: url(../img/img-kyoto-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .destinations.blog .item {
    width: 384px;
  }
}
